

$blue:    #184a7c;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #818CF8;

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$primary:       $blue;
$secondary:     $gray-400;
$success:       $teal;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
);

@import "bootstrap";

* {
  // font-family: "Roboto", "Almarai" !important;
  font-family: 'JetBrains Mono', monospace!important;

}

:root {
  --master-clr-light: #fff;
  --master-clr-dark: #818CF8;
  --master-clr-primary: #818CF8;
  --master-clr-secondary: #007bff69;
  --master-clr-accent: #818CF8;
  --master-sec-clr-accent: #00b5ad;
  --master-clr-font: #000000;
  --master-clr-font-surface: var(--master-clr-light);
  --master-clr-font-light: var(--master-clr-primary);

  --master-fs-nomral: 14px;
  --master-seite-direction: ltr;

  --master-foreground: var(--master-clr-light);
  --master-background: var(--master-clr-light);
  --master-surface-background: var(--master-clr-primary);
  --master-elementsbackground: var(--master-clr-primary);
  --master-on-surface: #b6daff57;

  --master-line-clr: #00000020;

  --bs-body-color: #fff;
  --bs-info: #818CF8;
  //--master-surface-background: var(--master-clr-light);
}

body{
  background: 0px 0px/30px 30px #24222a radial-gradient(#24222a 6%, #15131b 5%);
  color: var(-master-clr-light)!important;

  &::-webkit-scrollbar {
    width: 1em;
    z-index: 100;
    background-color:#ffffff;
  }

  &::-webkit-scrollbar-thumb {
    // background-color:var(--master-clr-accent);
    background: 0px 0px/30px 30px #24222a radial-gradient(#24222a 6%, #15131b 5%);;
    border-width: 1px;
    border-style: solid;
    border-color: var(--master-clr-accent);
    box-shadow:0 -100vh 0 100vh var(--master-clr-accent);
  }
}


.App{
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}


.navbar-custom .navbar-brand,
.navbar-custom .navbar-text,
.navbar-custom .nav-link {
    color: var(--master-clr-light);
}

.navbar-custom .nav-link:hover{
  color: var(--master-clr-accent);

}

.h-100{
  height: 100vh!important;
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--master-clr-accent); }
}

.typingEffect{
  letter-spacing: .15em; 
  margin: 0 auto;
  white-space: nowrap;
  border-right: .15em solid var(--master-clr-accent);
  overflow: hidden;
  animation: typing 3.5s steps(40, end),blink-caret .75s step-end infinite;

}


.avatar {
  background-image: url("../src/imgs/me.png");
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 30%);
}


.hoverBox:hover{
  border-radius: 1rem;
  // background: linear-gradient(
  //   40deg,
  //   transparent,
  //   10%,
  //   rgba(255, 255, 255, 0.16) 60%,
  //   transparent 100%
  // );  
  transition: all 200ms;
  background: rgba(0, 0, 0, 0.25);
}

.subTitleBox{
  border-radius: 1rem;
  // background: linear-gradient(
  //   40deg,
  //   transparent,
  //   10%,
  //   rgba(255, 255, 255, 0.16) 60%,
  //   transparent 100%
  // )
  background: rgba(0, 0, 0, 0.25);

  padding: 0.5rem;
}


article{
  padding: 6rem 0;
}

.link-primary{
  color: var(--master-clr-accent);
  font-weight: bold;
  text-decoration: none;
}

.MosaicLayout{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  grid-gap: 1rem;
}

.card {
  padding: 10px 0px;
  box-shadow: 2px 2px 0px 0px var(--master-clr-accent);
  
  // background: linear-gradient(
  //   40deg,
  //   transparent,
  //   10%,
  //   rgba(255, 255, 255, 0.16) 60%,
  //   transparent 100%
  // );

  background: rgb(0 0 0 / 25%);
  backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1.5px solid rgba(255, 255, 255, 0.08);
  z-index: 1;
  color: #c5c5c5;
}

.card .card-body{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}


.progress{
  //border: 10px solid;
  display: flex;
  gap: 1px;
  //height: auto;
  background-color: transparent;
  .tak{
    width: 2rem;
    background-color: var(--master-clr-accent);
    height: 3rem;
  }

  .inTacked01{
    animation: inTacked 1.5s infinite;
    animation-delay: 0.5s;

  }

  .inTacked02{
    animation: inTacked 1.5s infinite;
    animation-delay: 1s;

  }

  .inTacked03{
    animation: inTacked 1.5s infinite;
    animation-delay: 1.5s;

  }

}


@keyframes inTacked {
  from {background-color: var(--master-clr-accent);}
  to { background-color: transparent }
}


.timeLineContainer{
  display: flex;
  flex: auto;
  overflow-y: auto;
}

.timeLine {
  position: relative;
  height: 100%;
    
  div {
    &:after {
      content: '';
      width: 1px;
      position: absolute;
      top: 25px;
      bottom: 0rem;
      left: 100px;
      z-index: 1;
      background: var(--bs-secondary);;
    }
  }
  h6 {
    color: var(--bs-secondary);
  }
  section.year {
    display: flex;
    position: relative;
    gap: 1rem;
    
    .leftSide{
      min-width: 100px;
    }
    section{
      padding-bottom: 0px;
      position: relative;
      margin-bottom: 5rem;
      
      &:after {
        content: '';
        width: 12px;
        height: 12px;
        background: var(--master-clr-accent);
        border-radius: 50%;
        position: absolute;
        top: 9px;
        left: -21px;
        z-index: 2;
      } 
    }
  }
}




.secondaryHover:hover, .secondaryHover:focus{
  background-color: $info!important;
  color: $primary!important;
}

.text-align-justify{
  text-align: justify;
}

.bg-shadow{
  background: rgb(24 74 124 / 42%);
  color: white!important
}


.App-header{
  background-color: $primary;
  position: sticky;
  top: 0;
  z-index: 9999;
  margin-bottom: 1rem;
}

.landingPageHeader{
  background-color: $primary;
  height: 50vh;
}






.lines{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: -1;
}
  
.line{
  position: relative;
  width: 1px;
  height: 100%;
  top: 0;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;

  &::after{
    content: '';
    display: block;
    position: absolute;
    height: 150px;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    animation: dropDown 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  }
  &:nth-child(1){
    &::after
      {animation-delay: 2s}
    }
}
    
@keyframes dropDown{
  from { top: -50%}
  to {top: 110%}
}
