

$blue:    #184a7c;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$primary:       $blue;
$secondary:     $gray-400;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
);

@import "bootstrap";

* {
  font-family: "Roboto", "Almarai" !important;
}

:root {
  --master-clr-light: #ffffff;
  --master-clr-dark: rgb(24, 74, 124);
  --master-clr-primary: rgb(24, 74, 124);
  --master-clr-secondary: #007bff69;
  --master-clr-accent: #ff7750;
  --master-sec-clr-accent: #00b5ad;
  --master-clr-font: #000000;
  --master-clr-font-surface: var(--master-clr-light);
  --master-clr-font-light: var(--master-clr-primary);

  --master-fs-nomral: 14px;
  --master-seite-direction: ltr;

  --master-foreground: var(--master-clr-light);
  --master-background: var(--master-clr-light);
  --master-surface-background: var(--master-clr-primary);
  --master-elementsbackground: var(--master-clr-primary);
  --master-on-surface: #b6daff57;

  --master-line-clr: #00000020;
  //--master-surface-background: var(--master-clr-light);
}

.darkmode {
  --master-clr-light: #f8f8f8;
  --master-clr-dark: #262626;

  --master-fs-nomral: 14px;
  --master-clr-primary: #2e2f30;
  --master-clr-secondary: #5f7281;
  --master-clr-accent: #ff7750;
  --master-clr-font: #ffffff;
  --master-clr-font-surface: var(--master-clr-dark);
  --master-clr-font-light: #f8f8f8;

  --master-foreground: var(--master-clr-light);
  --master-background: var(--master-clr-dark);
  --master-surface-background: var(--master-clr-primary);
  --master-on-surface: #393b3c;
  --master-elementsbackground: var(--master-clr-primary);

  --master-line-clr: #2e2f30;
}

.secondaryHover:hover, .secondaryHover:focus{
  background-color: $info!important;
  color: $primary!important;
}

.text-align-justify{
  text-align: justify;
}

.bg-shadow{
  background: rgb(24 74 124 / 42%);
  color: white!important
}


.App-header{
  background-color: $primary;
  position: sticky;
  top: 0;
  z-index: 9999;
  margin-bottom: 1rem;
}

.landingPageHeader{
  background-color: $primary;
  height: 50vh;
}

